body {
  background-color: #000;
  color: #faebd7;
  font-family: Consolas;
  font-size: 0.75rem
}

.top p {
  margin-top: -0.75rem;
}

.form {
  margin-top: 2rem;
}

.input {
  border: none;
  background-color: #000;
  color: #faebd7;
  caret-color: transparent;
  font-weight: bolder;
}

.input:focus {
  outline: none;
}

.blink_me {
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}