.input {
  border: none;
  background-color: #000;
  color: #faebd7;
  caret-color: transparent;
  font-family: Consolas;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #faebd7;
  font-weight: bolder;
}

.blink {
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}