* {
  box-sizing: border-box;
}

:root {
  color: white;
  background-color: black;

  font-size: 1rem;
  font-weight: 600;
  font-family: "Consolas", "Courier New", monospace;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
